*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
   
}
.container{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgb(22, 21, 21);
    background-image: linear-gradient(rgb(16, 15, 15), rgba(22, 1, 1, 0.386),rgba(244, 0, 0, 0.063));
}
.logo{
   float: left;
    width: 120px;
    padding: 0px 5px;
    margin-top: -10px;
    margin-left: 20px;
    
    
}
nav{
    float: right;
    margin-top: 5px;
    margin-right: 80px;
    padding: 20px 0;
   
}
nav ul{
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 10px;

}
nav ul li a{
    text-decoration: none;
    position: relative;
    font-size: 16px;
    color: white;
    padding: 10px;
    
}
nav ul li a::after{
    content: '';
    height: 2px;
    width: 0;
    background: rgb(204, 1, 1);
    position: absolute;
    left: 0;
    bottom: 0px;
    transition: 0.5s;
    z-index: 2;
}
nav ul li a:hover::after{
    width: 100%;
} 
span{
    color: rgb(204, 1, 1);
    cursor:default;
    
}

.col_1{
    position: absolute;
    top: 25%;
    width: 30%;
    height: 70%;
    margin-left: 175px;
    
}
.col_1 h1{
    color: white;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 10px;
    font-family: 'Libre Bodoni', serif
}
.col_1 h3{
    margin-bottom: 5px;
}
.col_1 p{
    color: white;
    line-height: 20px;
    margin-bottom: 20px;
}
.col_1 a{
    margin-left: 20px;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 10px 0px 10px 0px;
    border: 1px solid rgb(204, 1, 1);
    color: white;
    text-decoration: none;
    transition: all .8s ease;
}
.col_1 a:hover{
    background-color:rgba(169, 2, 2, 0.407);
   
}
.skill h1{
    font-size: 25px;
    margin-left: 30px;
}
.col_2{
    position: absolute;
    align-items: center;
    justify-content:space-between;
    display: flex;
    flex-direction:column;
    right: 0%;
    top: 40%;
    border-left:1px solid rgba(169, 2, 2, 0.407);

   
}
.col_2 a{
    vertical-align: middle;
    text-decoration: none;
    color: white;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-right: 15px;
    margin: 5px 0px;
    transition: 0.5s;

   
}
.col_2 a:hover{
   background-color: rgba(169, 2, 2, 0.207);
   
}
.col_2 a img{
    width: 20px;
    height: 20px;
    transition: 0.5s;
}
.col_2 img:hover{
    height: 40px;
    width: 35px;
}
.col_3 img{
    position: absolute;
    width: 350px;
    height: 400px;
    top: 25%;
    right: 15%;
    opacity: .7;
    box-shadow:5px 5px 15px rgba(169, 2, 2, 0.407);
    border-radius: 50px 0px 50px 0px;
    border: 3px inset rgba(169, 2, 2, 0.407);
}
/*CSS for Contact page*/
.contact{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: linear-gradient(rgba(0,0,0,0.7), red)
}
form{
    width: 90%;
    max-width: 600px;
    
}
.input-group{
    margin-bottom: 30px;
    position: relative;
}
input,textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid white;
    background: transparent;
    font-size: 15px;
    color: white;
}
label{
    height: 100%;
    position: absolute;
    left: 0;
    margin-top: 10px;
    margin-left: 10px;
    padding: 0;
    color: white;
    cursor: text;
    transition: 1s;
}
button{
    padding: 10px 0;
    color: white;
    outline: none;
    background: transparent;
    border: 1px solid white;
    width: 100%;
    cursor: pointer;
}
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label
{
    top: -35px;
    font-size: 14px;
}
.row{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.row .input-group{
    flex-basis: 48%
}
h2{
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
    color: white;
    border-bottom: 1px solid white;
}
/*CSS for About-me page*/
